<% if (products.length) { %>
<div class="products-grid">
  <% products.forEach((product) => { %>
  <div class="product-card">
    <div class="card-img-container">
      <img src="<%= product.image %>" alt="<%= product.product_name %>" />
    </div>
    <div class="card-footer">
      <a href="/product/<%= product.product_id %>"><%= product.product_name %></a>
      <p>$ <%= product.price %></p>
      <button class="blue-btn">Add to Cart</button>
    </div>
  </div>
  <% }) %>

</div>
<% } else { %>
    <div class="delete-category-container">

      <h3>This category has no products, do you want to delete it?</h3>
      <form action="/category/delete/<%= category_id %>" method="post">
        <input type="hidden" value="<%= category_id %>" name="category_id" id="category_id" >
        <button type="submit" class="blue-btn delete">DELETE</button>
      </form>    
    </div>
  <%}%>
